<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  1.第一步配置数据源  -->
    <!--  1-1)DBCP2数据源:DBCP的配置依赖于2个jar包commons-dbcp2-2.5.0.jar，commons-pool2-2.4.2.jar-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hibernate?serverTimezone=GMT&amp;useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!--  1-2）DBCP数据源:DBCP的配置依赖于2个jar包commons-dbcp.jar，commons-pool.jar
    <bean id="dataSource3" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hibernate?serverTimezone=GMT&amp;useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    -->

    <!--  2)spring自带的数据源
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hibernate?serverTimezone=GMT&amp;useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    -->

    <!--  3)C3P0数据源
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/hibernate?serverTimezone=GMT&amp;useSSL=true"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>
    -->

    <!--  2.第二步配置SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>Person.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
            </props>
        </property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager_" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  3.第三步配置Dao -->
    <bean id="personDao" class="net.imwork.zhanlong.spring_hibernate.dao.impl.PersonDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  4.第四步配置service （没有配置事务的service）
    <bean id="personService" class="net.imwork.zhanlong.spring_hibernate.service.impl.PersonServiceImpl">
        <property name="personDao" ref="personDao"/>
    </bean>
    -->

    <!--  4.第四步配置service （配置事务的service）-->
    <bean id="personService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target">
            <bean class="net.imwork.zhanlong.spring_hibernate.service.impl.PersonServiceImpl">
                <property name="personDao" ref="personDao"/>
            </bean>
        </property>
        <property name="transactionManager" ref="transactionManager_"/>
        <property name="transactionAttributes">
            <props>
                <prop key="list*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>


</beans>