<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personTarget" class="net.imwork.zhanlong.spring6.PersonImpl">
        <property name="name" value="张三"/>
        <property name="address" value="北京"/>
    </bean>

    <bean id="beforeAdvice" class="net.imwork.zhanlong.spring6.MyMethodBeforeAdvice"/>
    <bean id="afterReturningAdvice" class="net.imwork.zhanlong.spring6.MyAfterReturningAdvice"/>
    <bean id="aroundAdvice" class="net.imwork.zhanlong.spring6.MyAroundAdvice"/>



    <bean id="person" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="net.imwork.zhanlong.spring6.Person"/>
        <property name="target" ref="personTarget"/>
        <property name="interceptorNames">
            <list>
                <value>beforeAdvice</value><!--前置通知-->
                <value>afterReturningAdvice</value><!--后置通知-->
                <value>aroundAdvice</value><!--环绕通知-->
            </list>
        </property>
    </bean>

    <bean id="dogTarget" class="net.imwork.zhanlong.spring6.Dog"/>
    <bean id="transactionManager" class="net.imwork.zhanlong.spring6.TransactionManager"/>

    <bean id="dog" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames">
            <value>transactionManager</value>
        </property>
        <property name="target" ref="dogTarget"/>
        <property name="proxyTargetClass" value="true"/>
    </bean>

</beans>